.feedPostContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 215, 215);
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 16px;
    width: 1000%;
    gap: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
  }


 
  
  .feedPostHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  
  .feedPostProfilePicture {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid black;
  }
  
  .feedPostProfileName {
    font-size: 20px;
    font-weight: 600;
  }
  
  .feedPostContentImage {
    height: 100px;
    width: fit-content;
    object-fit: cover;

  }
  
  .feedPostContentTitle {
    color: #2d3748;
    font-weight: 600;
    margin: 0;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  
  .feedPostContentDescription {
    font-size: 16px;
    font-weight: 400;

    
  

  }
  
  .feedPostFooter {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;
    flex-direction: row;
    gap:20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }